<ion-header>
  <ion-navbar color="secondary">
    <ion-title text-left>Логин</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="signInForm" (submit)="submit($event, signInForm)">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Пароль</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-buttons margin-top class="button">
      <button ion-button icon-end block>
        Войти <ion-icon name="log-in"></ion-icon>
      </button>
    </ion-buttons>
  </form>
</ion-content>
