<ion-header>
  <ion-navbar  color='secondary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="header-navigation">
      <ion-title>Новый пост</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding >
    <ion-segment [(ngModel)]="news">
      <ion-segment-button value="advert">
        Объявление
      </ion-segment-button>
      <ion-segment-button value="poll">
        Опрос
      </ion-segment-button>
      <ion-segment-button value="event">
        Событие
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="news" padding-horizontal>
    <ng-container *ngSwitchCase="'advert'">
      <lt-advert-form></lt-advert-form>
    </ng-container>
    <ng-container *ngSwitchCase="'poll'">
    </ng-container>
    <ng-container *ngSwitchCase="'event'">
    </ng-container>
  </div>
</ion-content>
