<form [formGroup]="advertForm" (submit)="submit($event, advertForm)">
  <ion-list>
    <ion-item>
      <ion-label floating>Заголовок</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Текст сообщения</ion-label>
      <ion-input type="text" formControlName="text"></ion-input>
    </ion-item>
    <ion-item text-right margin-top>
      <ion-label>Важное</ion-label>
      <ion-toggle checked="false" formControlName="is_important"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="advertForm.get('is_important').value">
      <ion-label>До</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" formControlName='relevance_dt'></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-buttons margin-top class="button">
    <button ion-button icon-end block>
      Отправить <ion-icon name="send"></ion-icon>
    </button>
  </ion-buttons>
</form>
