<section padding>
  <h6>Именинники недели:</h6>
  <div class="all-birth">
    <div class="birth" *ngFor="let person of birthdays">
      <div class="photo birth-photo">
        <img [src]="person.photo_thumbnail" alt="photo" />
      </div>
      <div class="date">{{ person.birth_date }}</div>
    </div>
  </div>
</section>
