<ion-menu [content]="content" padding>
  <ion-header>
    <ion-toolbar color="secondary" padding>
      <div class="user-panel">
        <div class="user-panel__photo photo"><img [src]="user?.photo_thumbnail" alt="photo"/></div>
        <div class="user-panel__username">John Marsel</div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <ion-item menuClose icon-left *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" padding-right></ion-icon>
        {{p.title}}
      </ion-item>
      <ion-item ion-item ion-left menuClose (click)="logout()">
        <ion-icon name="log-out" padding-right></ion-icon>
        Выйти
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
