// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-md, .item-ios {
  padding-left: 0;
}

.list-ios > .item-block:first-child {
  border-top: none;
}

.item-input ion-label {
  color: #848484;
}

.menu-inner ion-icon {
  color: dimgray;
}

ion-label {
  display: flex;
  align-items: center;
}

.header-icon {
  color: white;
  font-size: 25px;
  margin: 0 10px 0 20px;
}

.photo {
  border-radius: 50%;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.ion-content {
  background: color($colors, middleLight)!important;
}
