<ion-header>
  <ion-navbar  color='secondary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="header-navigation">
      <ion-title>Portal</ion-title>
      <div>
        <ion-icon class="header-icon" name="add-circle" (click)="createNews()"></ion-icon>
        <ion-icon class="header-icon" name="bulb" (click)="showFilters()"></ion-icon>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content  class="ion-content" color='middleLight'>
  <lt-birth-week></lt-birth-week>

  <ion-grid class="news" *ngFor="let singleNews of news" (click)="goToDetail(singleNews)">
    <ion-row align-items-center>
      <ion-col col-2><ion-icon class='news__icon' [name]="singleNews?.message?.content_object.icon"></ion-icon></ion-col>
      <ion-col col-10>{{ singleNews?.message?.title }}</ion-col>
      <!--<ion-col col-3 text-right><ion-icon name="star"></ion-icon></ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p class="news__description"> {{ singleNews?.message.text }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="news__dates">
      <ion-col col-6>
        {{ singleNews?.message?.author?.fullName }}
      </ion-col>
      <ion-col col-6 text-right>
        {{ singleNews?.message?.create_dt }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="uploadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
