.header-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.news {
  background: white;
  width: 95%;
  margin: 5px auto;

  &__icon {
    font-size: 2.5em;
  }

  &__dates {
    font-size: 13.5px;
    color: silver;
  }

  &__description {
    color: color($colors, middleDark);
  }
}
