<ion-header>
  <ion-navbar  color='secondary'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="ion-content">
  <ion-grid class="news">
    <ion-row align-items-center>
      <ion-col col-2>
        <ion-icon class='news__icon' [name]="news?.message?.content_object?.icon"></ion-icon>
      </ion-col>
      <ion-col col-10>{{ news?.message?.title }}</ion-col>
      <!--<ion-col col-3 text-right><ion-icon name="star"></ion-icon></ion-col>-->
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p class="news__description"> {{ news.message?.text }}</p>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="news?.message?.message_type === 'event'">
      <ion-row *ngIf="news?.message?.content_object?.location_url.length > 0">
        <ion-col>
          <lt-map [location]="news?.message?.content_object?.location"></lt-map>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Место проведения:</strong>
          {{ news?.message?.content_object?.location }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <strong>Время проведения:</strong>
          {{ news?.message?.content_object?.date_time }}
        </ion-col>
      </ion-row>
    </ng-container>

    <ion-row *ngIf="news?.message?.message_type === 'event' || news?.message?.message_type === 'poll'">
      <ion-col>
        <lt-poll></lt-poll>
      </ion-col>
    </ion-row>

    <ion-row class="news__dates">
      <ion-col col-6>
        {{ news?.message?.author?.fullName }}
      </ion-col>
      <ion-col col-6 text-right>
        {{ news?.message?.create_dt }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
